.left{ display: inline-block;
      border: 2px solid rgb(123, 255, 0);
      position: absolute;
      left: 34px;
      top: 20px;
}

.mid{ display: block;
    width: 33%;
    margin: 12px auto;
    border: 2px solid green;
    
}
.right{
    position: absolute;
    right: 34px;
    top: 20px;
    display: inline-block;
    border: 2px solid rgb(224, 238, 30);
    
}

.navbar{
    display: inline-block;

}
.navbar li{
    display: inline-block;
    font-size: 25px;
    
}
.navbar li a{
    color: #fff;
    text-decoration: none;

}



body{
       color: #fff;
       margin: 0px;
       padding: 0px;
       background: url('B.webp');
       color: #fff;
       font-family: 'Sofia', cursive;
       
       
   }
   .left{
         display: inline-block;
         /* border: 2px solid red; */
         position: absolute;
         left: 0px;
         top: 5px;

   }

   .left img{
       width: 136px;
       filter: invert(100%);
   }
   .left div{
       text-align: center;
       font-size: 18px;
   }
   .mid{
     display: block;  
     width: 49%;
     margin: 0px auto;
    /* border: 2px solid #Fff; */
    border-radius: 10px;

   }
   .right{
      position: absolute;  
      display: inline-block;
      right: 34px;
      top: 5px;  
      /* border: 2px solid yellow; */
   }
   .navbar{
       display: inline-block;
   }

   .navbar li{
       
       display: inline-block;
       font-size: 18px;
   }

   .navbar li a{
         color: #fff;
         text-decoration: none;
         padding: 34px 10px;  
   }
   

   .navbar li a:hover, .navbar li a.active{
         text-decoration: underline;
         text-decoration: underline;
         color: rgb(224, 92, 92);
           
   }

   .btn{
       margin: 0px 9px ;
       color: #ffff;
       background-color: #222;
       padding: 4px 0px;
       /* border: 2px solid green; */
       border-radius: 10px;
       font-size: 17px;
       cursor: pointer;
      
   }
   .btn:hover{
       background-color: rgb(220, 238, 225);
       color: rgb(236, 17, 17);
       border: 2px solid red;
   }

   .cantainer{
       border: 2px solid #fff;
       margin: 70px 175px;
       padding: 20px 20px;
       width: 33%;
       border-radius: 10px;
   }
   .form-group input{
    text-align: center;
    display: block;
    width: 250px;
    padding: 6px;
    border: 2px solid black;
    margin: 10px auto;
    font-size: 18px;
    border-radius: 10px;
   }
 
.cantainer h3{
    text-align: center;
}
 

.cantainer button{
    display: block;
    width: 80%;
    margin: 20px auto;

}


